html,
body {
  margin: 0;
  padding: 0;
  font-family: inter;
}

#introducao {
  background-color: #303030;
  width: 100%;
  color: white;
  padding: 103px 0px;
}

#tituloIntroducao {
  font-size: 60px;
  margin-left: 62px;
}

#paragrafoIntroducao{
  margin-left: 62px;
}

#dados{
  display: grid;
  grid-auto-flow: column;
  background-color: #F9F9F9;
  padding: 54px;
  justify-items: center;
}

#experiencia{
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  background-color: white;
  align-items: center;
  padding: 75px;
  gap: 25px;
}

#tituloExperiencia{
  font-size: 28px;
}

#textoExperiencia{
  padding-left: 77px;
}

#formulario{
  background-color: #303030;
  color: white;
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
}

h1{
  margin: 0px;
}

#tituloFormulario{
  padding-top: 75px;
}

input{
  border: none;
  border-radius: 7px;
  min-width: 400px;
  min-height: 50px;
  margin-top: 45px;
  font-size: 15px;
  padding: 0px 20px;
}

button{
  background-color: #C07212;
  color: white;
  border: none;
  border-radius: 7px;
  min-height: 200px;
  min-height: 50px;
  font-weight: bold;
  margin-top: 70px;
  font-size: 20px;
  padding: 10px 50px;
  cursor: pointer;
}

button:hover{
  background-color: #96580d;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #140f07;
  transition-duration: 0.5s;
}

form{
  text-align: center;
}
